{% load static%}
<header class="header-area style-2">
    
    <div class="header-logo">
        <a href="#">
            <img alt="image" 
            src="{% static 'images/bg/182x34.png'%}" > 
        </a> 
    </div>
    <div class="main-menu">
        <div class="mobile-logo-area d-lg-none d-flex justify-content-between align-items-center">
            <div class="mobile-logo-wrap ">
                <a href="#">
                    <img alt="image" 
                    src="{% static 'images/bg/182x34.png'%}" > 
                </a>

            </div>
            <div class="menu-close-btn">
                <i class="bi bi-x-lg"></i>
            </div>
        </div>
        <ul class="menu-list">
            <li>
                <a href="{% url 'home_page' %}">Ana Sayfa</a>
            </li>
            <li>
                <a href="{% url 'about_page' %}">Biz Kimiz?</a>
            </li>
            <li class="menu-item-has-children">
                <a href="{% url 'services_page' %}">Hizmetlerimiz</a><i class='bx bx-plus dropdown-icon'></i>  
                
                <ul class="submenu">
                    {% for service in services.all %}
                        <li><a href="{% url 'services_detail_page' id=service.pk %}" title="{{ service.services_name }}">{{ service.services_name }}</a></li>
                    {% endfor %}
                </ul>           
                <ul class="submenu">                    
                {% for service in services.all %}
                    <li><a  href="{% url 'services_detail_page' id=service.pk %}">{{ service.services_name }}</a></li>
                {% endfor %}
                </ul>
            </li>
            <li >
                <a href="{% url 'doctors_page' %}">Doktorlarımız</a>
                {% comment %} <ul class="submenu">
                    <li><a href="project1.html">Project 01</a></li>
                    <li><a href="project2.html">Project 02</a></li>
                    <li><a href="project-details.html">Project Details</a></li>
                </ul>  {% endcomment %}
            </li>
            <li >
                <a href="{% url 'blog_page' %}">Bloglar</a>
            </li>
            {% comment %} <li class="menu-item-has-children">
                <a href="#" class="drop-down">Pages</a><i class='bx bx-plus dropdown-icon'></i>
                <ul class="submenu">
                    <li><a href="pricing-plan.html">Pricing Plan</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="404.html">Error</a></li>
                </ul>
            </li> {% endcomment %}
            <li><a href="{% url 'contact_page' %}">İletişim</a></li>
        </ul>
        <!-- mobile-search-area -->
        <div class="d-lg-none d-block">
            <form class="mobile-menu-form">
                <div class="hotline">
                    <div class="hotline-icon">
                        <img 
                        src="{% static 'images/icons/header-phone2.svg' %}" alt=""> 
                    </div>
                    <div class="hotline-info">          
                        <span>Click To Call</span>
                        <h6><a href="#" id="whatsapp-link">+90 546 432 29 01 </a></h6>
                        
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="nav-right d-flex align-items-center">
        <div class="hotline d-xl-flex d-none">
            <div class="hotline-icon">
                <img alt="image" 
                src="{% static 'images/icons/header-phone2.svg' %}" >
            </div>
            <div class="hotline-info contact-info">
                <span>Bizi Arayın!</span>
                <h6><a href="https://wa.me/901111111111" >+90 111 111 11 11 </a></h6>
                
            </div>
        </div>
        <div class="mobile-menu-btn d-lg-none d-block">
            <i class='bx bx-menu'></i>
        </div>
    </div>
</header>
