{% extends 'core/base.html'%}
{% load static %}

{% block container %}
<div class="inner-page-banner">
    <div class="inner-banner-top">
        <img class="inner-banner-vec-2 img-fluid " src="{% static 'images/bg/inner-banner-vec-1.png' %}" alt="">
        <img class="inner-banner-vec-1 img-fluid" src="{% static 'images/bg/inner-banner-vec-2.png' %}" alt="">
        <div class="container">
            <div class="row">
                <div class="col-xl-8">
                    <div class="inner-banner-title">
                        <h2>I Provided Alawyes <br>
                        <span>Creative Work.</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-area">
           <div class="container">
               <div class="row">
                   <div class="col-12 d-flex justify-content-sm-end justify-content-center">
                        <div class="inner-breadcrumb">
                            <h2>Contact Now</h2>
                            <nav>
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">Contact Now</li>
                                </ol>
                              </nav>
                        </div>
                   </div>
               </div>
           </div>
        </div>
    </div>
</div>
<!-- ========== breadcump end============= -->
<!-- ========== Contact Now Start============= -->
<div class="contact-page">
    <div class="google-map">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3008.0565226410968!2d28.85915367600328!3d41.06775711576031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab00189da0083%3A0x54df6d52cb9082eb!2sKoza%20Plaza%20Tekstilkent!5e0!3m2!1str!2str!4v1692367143856!5m2!1str!2str" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-address">
                    <div class="single-contact mb-60 d-flex align-items-center wow animate fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="icon">
                            <i class='bx bx-phone-call'></i>
                        </div>
                        <div class="content">
                            <h3>Phone</h3>
                            <a href="tel:+8801761111456">+880 176 1111 456</a><br>
                            <a href="tel:+8801761111456">+880 176 1111 456</a>
                        </div>
                    </div>
                    <div class="single-contact d-flex align-items-center wow animate fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
                        <div class="icon">
                            <i class='bx bx-envelope' ></i>
                        </div>
                        <div class="content">
                            <h3>Email</h3>
                            <a href="tell:info@example.com">info@example.com</a><br>
                            <a href="tell:info@support.com">info@support.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 wow animate fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                <div class="contact-form-area mb-120">
                    <h2>Let Start A Project.</h2>
                    <form>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-inner">
                                    <input type="text" placeholder="Enter your name">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-inner">
                                    <input type="email" placeholder="Enter your email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-inner">
                                    <textarea placeholder="Your message" cols="30" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-inner">
                                    <button  class="eg-btn btn--primary btn--md form--btn" type="submit">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock container%}