{% extends 'core/base.html'%}
{% load static %}

{% block container %}
<div class="hero-style2">
    <div class="hero-vector">
        <ul>
            <li class="hero2-lt img-fluid "><img src="{% static 'images/bg/hero2-lt.png' %}" alt=""></li>
            <li class="hero2-lb img-fluid"><img src="{% static 'images/bg/hero2-lb.png' %}" alt=""></li>
            <li class="hero2-rt img-fluid"><img src="{% static 'images/bg/hero2-rt.png' %}" alt=""></li>
            <li class="hero2-rb img-fluid"><img src="{% static 'images/bg/hero2-rb.png' %}" alt=""></li>
        </ul>
    </div>
    <div class="social-area">
        <ul>
            <li><a href="https://www.facebook.com/">FACEBOOK</a></li>
            <li><a href="https://twitter.com/">TWITEER</a></li>
            <li><a href="https://www.linkedin.com/">LINKEDIN</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center wow animate fadeInUp" data-wow-delay="200ms"
                data-wow-duration="1500ms">
                <div class="hero-content">
                    <span>DR. Figen ŞENCAN</span>
                    <h1>Diş Hekimi</h1>
                    <p>İnanabileceğiniz Bakım!</p>

                    <a class="eg-btn btn--primary btn--lg" href="{% url 'about_page' %}">Bize Ulasin</a>
                </div>
            </div>
            <div class="col-lg-6 wow animate fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                <div class="hero-img2">
                    <img class="img-fluid" src="{% static 'images/HOME/HOME-570x784.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="counter-area">
    <div class="container-fluid">
        <div class="row g-4">
            <div class="col-xxl-6">
                <div class="hero-counter2 d-flex align-items-center flex-wrap">
                    <div class="counter-item wow animate fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="counter d-flex">
                            <h3 class="odometer" data-odometer-final="250">250</h3>
                        </div>
                        <p>Aktif Hastalar</p>
                    </div>
                    <div class="counter-item text-center wow animate fadeInLeft" data-wow-delay="400ms"
                        data-wow-duration="1500ms">
                        <div class="counter d-flex">
                            <h3 class="odometer" data-odometer-final="100">100</h3>
                        </div>
                        <p>Başarılı Ameliyatlar</p>
                    </div>
                    <div class="counter-item text-center wow animate fadeInLeft" data-wow-delay="500ms"
                        data-wow-duration="1500ms">
                        <div class="counter d-flex">
                            <h3 class="odometer" data-odometer-final="150">150</h3>
                        </div>
                        <p>Çevrimiçi Hastalar</p>
                    </div>
                    <div class="counter-item text-center wow animate fadeInLeft" data-wow-delay="600ms"
                        data-wow-duration="1500ms">
                        <div class="counter d-flex">
                            <h3 class="odometer" data-odometer-final="200">200</h3>
                        </div>
                        <p>Ödüller</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-two-solution pt-120 mb-120">
    <div class="about-vector">
        <ul>
            <li class="home2-about-vector-1 img-fluid">
                <img src="{% static 'images/bg/home2-about-vector1.png' %}" alt="">
            </li>
            <li class="home2-about-vector-2 img-fluid">
                <img src="{% static 'images/bg/home2-about-vector2.png' %}" alt="">
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex align-items-center justify-content-between flex-wrap mb-40 wow animate fadeInUp"
                data-wow-delay="200ms" data-wow-duration="1500ms">
                <div class="section-title-4">
                    <span>Hızlı Çözümler</span>
                    <h2>Neler Yapıyoruz.</h2>
                </div>
                <div class="slider-navigations d-flex">
                    <div class="swiper-button-prev-d"><i class="bi bi-arrow-left"></i></div>
                    <div class="swiper-button-next-d"><i class="bi bi-arrow-right"></i></div>
                </div>
            </div>
        </div>
        <div class="row mb-120">
            <div class="swiper solution-slider-1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide wow animate fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="solution-wrrap ">
                            <div class="solutions-item">
                                <div class="icon">
                                    <img src="{% static 'images/icons/cavity.svg' %}" alt="">
                                </div>
                                <h4>Boşluk Koruması</h4>
                                <p>Integer quis libero semper intera odiona non consequat.</p>
                            </div>
                            <!-- <div class="solution-overlay d-flex justify-content-center align-items-center">
                                <div class="solution-content">
                                    <h4>Cavity Protection</h4>
                                    <p>Integer quis libero semper intera odiona non consequat.</p>
                                    <a class="eg-btn btn--primary btn--lg" href="#">View Details</a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="swiper-slide wow animate fadeInLeft" data-wow-delay="500ms" data-wow-duration="1500ms">
                        <div class="solution-wrrap ">
                            <div class="solutions-item">
                                <div class="icon">
                                    <img src="{% static 'images/icons/cavity.svg' %}" alt="">
                                </div>
                                <h4>İmplant Diş Hekimliği</h4>
                                <p>Integer quis libero semper intera odiona non consequat.</p>
                            </div>
                            <!-- <div class="solution-overlay d-flex justify-content-center align-items-center">
                                <div class="solution-content">
                                    <h4>Implant Dentistry</h4>
                                    <p>Integer quis libero semper intera odiona non consequat.</p>
                                    <a class="eg-btn btn--primary btn--lg" href="#">View Details</a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="swiper-slide wow animate fadeInLeft" data-wow-delay="700ms" data-wow-duration="1500ms">
                        <div class="solution-wrrap ">
                            <div class="solutions-item">
                                <div class="icon">
                                    <img src="{% static 'images/icons/cosmetic.svg' %}" alt="">
                                </div>
                                <h4>Kozmetik Diş Hekimliği</h4>
                                <p>Integer quis libero semper intera odiona non consequat.</p>
                            </div>
                            <!-- <div class="solution-overlay d-flex justify-content-center align-items-center">
                                <div class="solution-content">
                                    <h4>Cosmetic Dentistry </h4>
                                    <p>Integer quis libero semper intera odiona non consequat.</p>
                                    <a class="eg-btn btn--primary btn--lg" href="#">View Details</a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="swiper-slide wow animate fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
                        <div class="solution-wrrap ">
                            <div class="solutions-item">
                                <div class="icon">
                                    <img src="{% static 'images/icons/restoration.svg' %}" alt="">
                                </div>
                                <h4>Diş Restorasyonları</h4>
                                <p>Integer quis libero semper intera odiona non consequat.</p>
                            </div>
                            <!-- <div class="solution-overlay d-flex justify-content-center align-items-center">
                                <div class="solution-content">
                                    <h4>Tooth Restorations</h4>
                                    <p>Integer quis libero semper intera odiona non consequat.</p>
                                    <a class="eg-btn btn--primary btn--lg" href="#">View Details</a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 wow animate fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                <div class="home2-about">
                    <img src="{% static 'images/HOME/HOME-570X495.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 wow animate fadeInRight" data-wow-delay="500ms" data-wow-duration="1500ms">
                <div class="section-title-4 wow animate fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <span>Hakkımızda</span>
                    <h2>Diş Hekimliği Akılda Gülümsemeyi Yeniliyor.</h2>
                    <p>Modern diş macunu yalnızca son yüz yıldır mevcuttu. Diş macunu dediğimiz şey icat edilmeden önce insanlar ezilmiş istiridye kabuğu, öğütülmüş tebeşir, kömür, toz tuğla, limon suyu ve tuz gibi her türlü karışımı kullanıyordu.</p>

                </div>
                <div class="counter-area wow animate fadeInUp" data-wow-delay="700ms" data-wow-duration="1500ms">
                    <div class="row g-4">
                        <div class="col-md-6">
                            <div class="counter-item d-flex">
                                <div class="counter-img">
                                    <img src="{% static 'images/icons/patient.svg' %}" alt="">
                                </div>
                                <div class="counter">
                                    <h3 class="odometer" data-odometer-final="500">500</h3>
                                    <p>Aktif Hastalar</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="counter-item d-flex">
                                <div class="counter-img">
                                    <img src="{% static 'images/icons/award.svg' %}" alt="">
                                </div>
                                <div class="counter">
                                    <h3 class="odometer" data-odometer-final="80">80</h3>
                                    <p>Ödüllü</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-features wow animate fadeInUp" data-wow-delay="800ms" data-wow-duration="1500ms">
                    <ul>
                        <li><svg width="14" height="12" viewBox="0 0 14 12" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.6414 0.251324C9.56957 1.55093 7.05864 3.81284 4.89123 6.31946L4.50166 6.7692L2.96465 5.76721C2.12177 5.21827 1.38868 4.75861 1.33909 4.752C1.17973 4.72223 1.04515 4.81483 0.531629 5.29763C-0.0739693 5.86972 -0.0881353 5.89949 0.124355 6.18719C0.198727 6.2897 0.67329 6.9147 1.18327 7.57608C2.24572 8.95836 3.30463 10.3935 3.76503 11.0748C4.36709 11.9643 4.35646 11.9511 4.48396 11.9842C4.70353 12.0404 4.79915 11.9643 5.1108 11.4716C5.85452 10.2877 7.08343 8.48547 8.00776 7.22555C10.0193 4.48414 11.783 2.4504 13.4157 0.988759C13.9858 0.476192 14 0.462964 14 0.330688C14 0.214948 13.9788 0.175265 13.8831 0.0958996L13.7698 0H12.9057H12.0415L11.6414 0.251324Z" />
                            </svg>
                            Diş minesi tüm vücudun en sert kısmıdır; kemikten bile daha sert.
                        </li>
                        <li><svg width="14" height="12" viewBox="0 0 14 12" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.6414 0.251324C9.56957 1.55093 7.05864 3.81284 4.89123 6.31946L4.50166 6.7692L2.96465 5.76721C2.12177 5.21827 1.38868 4.75861 1.33909 4.752C1.17973 4.72223 1.04515 4.81483 0.531629 5.29763C-0.0739693 5.86972 -0.0881353 5.89949 0.124355 6.18719C0.198727 6.2897 0.67329 6.9147 1.18327 7.57608C2.24572 8.95836 3.30463 10.3935 3.76503 11.0748C4.36709 11.9643 4.35646 11.9511 4.48396 11.9842C4.70353 12.0404 4.79915 11.9643 5.1108 11.4716C5.85452 10.2877 7.08343 8.48547 8.00776 7.22555C10.0193 4.48414 11.783 2.4504 13.4157 0.988759C13.9858 0.476192 14 0.462964 14 0.330688C14 0.214948 13.9788 0.175265 13.8831 0.0958996L13.7698 0H12.9057H12.0415L11.6414 0.251324Z" />
                            </svg>
                            Ortalama bir insan yaşamı boyunca 38 gününü dişlerini fırçalayarak geçirir.
                        </li>
                        <li><svg width="14" height="12" viewBox="0 0 14 12" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.6414 0.251324C9.56957 1.55093 7.05864 3.81284 4.89123 6.31946L4.50166 6.7692L2.96465 5.76721C2.12177 5.21827 1.38868 4.75861 1.33909 4.752C1.17973 4.72223 1.04515 4.81483 0.531629 5.29763C-0.0739693 5.86972 -0.0881353 5.89949 0.124355 6.18719C0.198727 6.2897 0.67329 6.9147 1.18327 7.57608C2.24572 8.95836 3.30463 10.3935 3.76503 11.0748C4.36709 11.9643 4.35646 11.9511 4.48396 11.9842C4.70353 12.0404 4.79915 11.9643 5.1108 11.4716C5.85452 10.2877 7.08343 8.48547 8.00776 7.22555C10.0193 4.48414 11.783 2.4504 13.4157 0.988759C13.9858 0.476192 14 0.462964 14 0.330688C14 0.214948 13.9788 0.175265 13.8831 0.0958996L13.7698 0H12.9057H12.0415L11.6414 0.251324Z" />
                            </svg>
                            Dişlerinizin üçte biri diş etlerinizin altındadır.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- ========== Home Two About End============= -->
<!-- ========== Home Two appointment Start============= -->
<div class="home-two-appointment mb-120">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-between align-items-center flex-wrap mb-40 wow animate fadeInUp"
                data-wow-delay="200ms" data-wow-duration="1500ms">
                <div class="section-title-4">
                    <span>Çözümünüzü Alın.</span>
                    <h2>Bizimle İletişime Geçin.</h2>
                </div>
                <div class="hotline d-flex">
                    <div class="hotline-icon">
                        <img alt="image" src="{% static 'images/icons/header-phone2.svg' %}">
                    </div>
                    <div class="hotline-info">
                        <span>Bizi Arayın!</span>
                        <h6><a href="tel:347-274-8816">+347-274-8816</a></h6>
                    </div>
                </div>

            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-md-10">
                <form method="post" action="{% url 'contact_form_view' %}">
                    {% csrf_token %}
                    <div class="appointment-form">
                        <div class="row">
                            <div class="col-md-6 wow animate fadeInLeft" data-wow-delay="300ms"
                                data-wow-duration="1500ms">
                                <div class="form-inner">
                                    <label>İsim-Soyisim*</label>
                                    <input type="text" id="username" name="username" placeholder="İsminizi Giriniz">
                                </div>
                            </div>
                            <div class="col-md-6 wow animate fadeInRight" data-wow-delay="400ms"
                                data-wow-duration="1500ms">
                                <div class="form-inner">
                                    <label>Telefon Numarası*</label>
                                    <input type="text" id="telephone" name="telephone" placeholder="123456789">
                                </div>
                            </div>
                            <div class="col-md-6 wow animate fadeInRight" data-wow-delay="800ms"
                                data-wow-duration="1500ms">
                                <div class="form-inner">
                                    <label>Email Adresi*</label>
                                    <input type="email" id="email" name="email" placeholder="Email Adresini Giriniz">
                                </div>
                            </div>
                            
                            <div class="col-md-6 wow animate fadeInRight contact-page" data-wow-delay="800ms"
                                data-wow-duration="1500ms">
                                <div class="form-inner">
                                    <label>Mesaj*</label>
                                    <input type="text" id="description" name="description" placeholder="Mesajınızı Giriniz">
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-12 d-flex justify-content-center wow animate fadeInUp"
                                data-wow-delay="900ms" data-wow-duration="1500ms">
                                <div class="book-btn">
                                    <button class="eg-btn btn--primary btn--lg" type="submit">Gönder</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ========== Home Two appointment End============= -->
<!-- ========== Home Two Why Chooser Start============= -->
<div class="why-choose mb-120">
    <img class="why-choose-vector1 img-fluid" src="{% static 'images/bg/why-choose-vector1.png' %}" alt="">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-title-4 wow animate fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <span>Neden Bizi Seçmelisiniz?</span>
                    <h2>Diş Hekimliği Akılda Gülümsemeyi Yeniliyor.</h2>
                    <p>Bazı bebekler dişlerle doğarlar. Yaklaşık her 2000 bebekten 1'i 'natal' dişlerle doğar. Doğum dişleri genellikle alt diş etlerinde çıkar ve zayıf köklere sahip olma eğilimindedir; emzirmeyle ilgili sorunları önlemek için sıklıkla çıkarılırlar.</p>

                </div>
                <!-- center block start -->
                <div class="progress-area pt-20">
                    <div class="progress-items ">
                        <h6>İmplant Diş Hekimliği</h6>
                        <div class="donate">
                            <div class="donate-done wow animate fadeInLeft" data-wow-delay="400ms"
                                data-wow-duration="1500ms" data-done="90"></div>
                            <span>90%</span>
                        </div>
                    </div>
                    <div class="progress-items two">
                        <h6>Kozmetik Diş Hekimliği</h6>
                        <div class="donate">
                            <div class="donate-done two wow animate fadeInLeft" data-wow-delay="400ms"
                                data-wow-duration="1500ms" data-done="98"></div>
                            <span>98%</span>
                        </div>
                    </div>
                    <div class="progress-items three">
                        <h6>Sedasyonlu Diş Hekimliği</h6>
                        <div class="donate">
                            <div class="donate-done three wow animate fadeInLeft" data-wow-delay="400ms"
                                data-wow-duration="1500ms" data-done="80"></div>
                            <span>80%</span>
                        </div>
                    </div>
                    <div class="progress-items four">
                        <h6>Kronlar ve Köprüler</h6>
                        <div class="donate">
                            <div class="donate-done four wow animate fadeInLeft" data-wow-delay="400ms"
                                data-wow-duration="1500ms" data-done="85"></div>
                            <span>85%</span>
                        </div>
                    </div>
                </div>
                <!-- center block end -->
            </div>
            <div class="col-lg-6 wow animate fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                <div class="choose-img">
                    <img src="{% static 'images/HOME/HOME-570X573.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========== Home Two Why Choose End============= -->
<!-- ========== Home Two Quick Solution Start============= -->
<div class="quick-solution mb-120">
    <img class="gallery-vector-1 img-fluid" src="{% static 'images/bg/gallery-vector-1.png' %}" alt="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="works-top d-flex justify-content-between align-items-center flex-wrap wow animate fadeInUp"
                    data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="section-title-4">
                        <span>Hızlı Çözümler</span>
                        <h2>Fotoğraf Galerisi.</h2>
                    </div>
                    <!-- <div class="viwe-all-btn2 d-flex align-items-center">
                        <a href="#">View All <span><i class="bi bi-arrow-right"></i></span></a>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-start g-4 position-relative">
            <div class="col-lg-4 col-md-6 col-sm-10 wow animate fadeInLeft" data-wow-delay="300ms"
                data-wow-duration="1500ms">
                <div class="portfolio-item3">
                    <a data-fancybox="gallery" class="img-fluid" href="{% static 'images/HOME/HOME-PHOTO-GALLERY/HOME-421X297.png' %}">
                        <img src="{% static 'images/HOME/HOME-PHOTO-GALLERY/HOME-421X297.png' %}" alt="image"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 wow animate fadeInLeft" data-wow-delay="400ms"
                data-wow-duration="1500ms">
                <div class="portfolio-item3 mt-50">
                    <a data-fancybox="gallery" class="img-fluid" href="{% static 'images/HOME/HOME-PHOTO-GALLERY/HOME-421X360.png' %}">
                        <img src="{% static 'images/HOME/HOME-PHOTO-GALLERY/HOME-421X360.png' %}" alt="image"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 wow animate fadeInLeft" data-wow-delay="500ms"
                data-wow-duration="1500ms">
                <div class="portfolio-item3 three">
                    <a data-fancybox="gallery" class="img-fluid" href="{% static 'images/HOME/HOME-PHOTO-GALLERY/HOME-420X268.png' %}"><img
                            src="{% static 'images/HOME/HOME-PHOTO-GALLERY/HOME-420X268.png' %}" alt="image"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 wow animate fadeInLeft" data-wow-delay="600ms"
                data-wow-duration="1500ms">
                <div class="portfolio-item3 four mt-minus50">
                    <a data-fancybox="gallery" class="img-fluid" href="{% static 'images/HOME/HOME-PHOTO-GALLERY/HOME-420X297.png' %}"><img
                            src="{% static 'images/HOME/HOME-PHOTO-GALLERY/HOME-420X297.png' %}" alt="image"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 wow animate fadeInLeft" data-wow-delay="700ms"
                data-wow-duration="1500ms">
                <div class="portfolio-item3 five">
                    <a data-fancybox="gallery" class="img-fluid" href="{% static 'images/HOME/HOME-PHOTO-GALLERY/HOME-420X234.png' %}"><img
                            src="{% static 'images/HOME/HOME-PHOTO-GALLERY/HOME-420X234.png' %}" alt="image"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 wow animate fadeInLeft" data-wow-delay="800ms"
                data-wow-duration="1500ms">
                <div class="portfolio-item3 six mt-minus50">
                    <a data-fancybox="gallery" class="img-fluid" href="{% static 'images/HOME/HOME-PHOTO-GALLERY/HOME-420X326.png' %}"><img
                            src="{% static 'images/HOME/HOME-PHOTO-GALLERY/HOME-420X326.png' %}" alt="image"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 wow animate fadeInLeft" data-wow-delay="900ms"
                data-wow-duration="1500ms">
                <div class="portfolio-item3 seven">
                    <a data-fancybox="gallery" class="img-fluid" href="{% static 'images/HOME/HOME-PHOTO-GALLERY/HOME-PHOTO-GALLERY-420X360/1.png' %}"><img
                            src="{% static 'images/HOME/HOME-PHOTO-GALLERY/HOME-PHOTO-GALLERY-420X360/1.png' %}" alt="image"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 wow animate fadeInLeft" data-wow-delay="900ms"
                data-wow-duration="1500ms">
                <div class="portfolio-item3 eight mt-50">
                    <a data-fancybox="gallery" class="img-fluid" href="{% static 'images/HOME/HOME-PHOTO-GALLERY/HOME-PHOTO-GALLERY-420X360/2.png' %}"><img
                            src="{% static 'images/HOME/HOME-PHOTO-GALLERY/HOME-PHOTO-GALLERY-420X360/2.png' %}" alt="image"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10 wow animate fadeInLeft" data-wow-delay="1100ms"
                data-wow-duration="1500ms">
                <div class="portfolio-item3 nine">
                    <a data-fancybox="gallery" class="img-fluid" href="{% static 'images/HOME/HOME-PHOTO-GALLERY/HOME-PHOTO-GALLERY-420X360/3.png' %}"><img
                            src="{% static 'images/HOME/HOME-PHOTO-GALLERY/HOME-PHOTO-GALLERY-420X360/3.png' %}" alt="image"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========== Home Two Quick Solution End============= -->
<!-- ========== Home One Testimonial Start============= -->
<div class="testimonial-area2 mb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex align-items-center justify-content-between flex-wrap mb-40 wow animate fadeInUp"
                data-wow-delay="300ms" data-wow-duration="1500ms">
                <div class="section-title-4">
                    <span>Yorumlar</span>
                    <h2>Hastalarımız Hakkımızda Neler Söylüyor.</h2>
                </div>
                <div class="slider-navigations d-flex">
                    <div class="swiper-button-prev-e"><i class="bi bi-arrow-left"></i></div>
                    <div class="swiper-button-next-e"><i class="bi bi-arrow-right"></i></div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="swiper testimonial-slider-2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide wow animate fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="testomonial-wrrap2">
                            <div class="author-area d-flex align-items-center flex-wrap">
                                <div class="author-img">
                                    <img src="{% static 'images/HOME/HOME-72X72/2.png' %}" alt="">
                                </div>
                                <div class="author-deatils">
                                    <h4>Martha Maldonado</h4>
                                    <span>Seadation Patient</span>
                                </div>
                            </div>
                            <div class="testimonial-content">
                                <p>“Periodontitis olarak da bilinen diş eti hastalığı, yumuşak dokuya zarar veren ve dişlerinizi destekleyen kemiği yok edebilen ciddi bir diş eti enfeksiyonudur.Düzenli diş randevuları ağız sağlığını korumak için önemlidir.”</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide wow animate fadeInRight" data-wow-delay="700ms" data-wow-duration="1500ms">
                        <div class="testomonial-wrrap2">
                            <div class="author-area d-flex align-items-center flex-wrap">
                                <div class="author-img">
                                    <img src="{% static 'images/HOME/HOME-72X72/2.png' %}" alt="">
                                </div>
                                <div class="author-deatils">
                                    <h4>MGA Nahian</h4>
                                    <span>Cavity Patient</span>
                                </div>
                            </div>
                            <div class="testimonial-content">
                                <p>“Düzenli diş randevuları ağız sağlığını korumak için önemlidir. Diş hekimleri sorunları ciddileşmeden erken tespit edebilir, gerekli temizliği sağlayabilir ve uygun ağız hijyeni uygulamaları konusunda tavsiyelerde bulunabilir.”</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========== Home Two Testimonial End============= -->
<!-- ========== Home Two Contact Start============= -->
<div class="fresh-tooth-area mb-120">
    <img class="process-vector2 img-fluid" src="{% static 'images/bg/process-vector2.png' %}" alt="process-vector2">
    <img class="process-vector1 img-fluid" src="{% static 'images/bg/process-vector1.png' %}" alt="process-vector1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center wow animate fadeInUp" data-wow-delay="300ms"
                data-wow-duration="1500ms">
                <div class="section-title-4 text-center">
                    <span>Taze Diş</span>
                    <h2>Dişlerinizi İşleyin.</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="row">
                    <div class="col-12 wow animate fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <div class="fresh-tooth-content">
                            <h4>Boşluk Koruması</h4>
                            <p>Kötü diş sağlığı, kalp hastalığı ve diyabet gibi ciddi sağlık sorunlarına yol açabilir.</p>
                        </div>
                    </div>
                    <div class="col-12 wow animate fadeInLeft" data-wow-delay="400ms" data-wow-duration="1500ms">
                        <div class="fresh-tooth-content">
                            <h4>İmplant Diş Hekimliği</h4>
                            <p>Çiğneme yeteneğini geri kazandırır. Kozmetik görünümü geri kazandırır. Kemik kaybına bağlı olarak çene kemiğinin küçülmesini önlemeye yardımcı olur. Çevredeki kemik ve diş eti sağlığını korur.</p>
                        </div>
                    </div>
                    <div class="col-12 wow animate fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="fresh-tooth-content">
                            <h4>Kozmetik Diş Hekimliği</h4>
                            <p>Estetik diş hekimliği hizmetleri şunları yapabilir: Gülümsemenizi geliştirebilir. Donuk, lekeli dişleri aydınlatın. Dişlerinizin şeklini iyileştirin.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 fressh-tooth wow animate fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                <div class="fresh-tooth-center d-flex justify-content-center align-items-center">
                    <div class="fresh-tooth-img">
                        <img src="{% static 'images/bg/fresh-tooth-1.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="row">
                    <div class="col-12 wow animate fadeInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <div class="fresh-tooth-content">
                            <h4>Diş Restorasyonları</h4>
                            <p>Restorative dentistry gives you the best chance at long-lasting oral health. </p>
                        </div>
                    </div>
                    <div class="col-12 wow animate fadeInRight" data-wow-delay="400ms" data-wow-duration="1500ms">
                        <div class="fresh-tooth-content">
                            <h4>Sedasyonlu Diş Hekimliği</h4>
                            <p>Sedasyonlu diş hekimliği kaygıları ve fobileri hafifleterek diş prosedürleri sırasında sakin ve rahat kalmanıza yardımcı olur.</p>
                        </div>
                    </div>
                    <div class="col-12 wow animate fadeInRight" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="fresh-tooth-content">
                            <h4>Kronlar ve Köprüler</h4>
                            <p>Köprüler ve kaplamalar hasarlı dişleri güçlendirebilir ve görünümlerini, şekillerini, işlevlerini ve kapanışlarını iyileştirebilir.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========== Home Two Contact End============= -->
<!-- ========== Home Two Blog Start============= -->
<!-- <div class="home-2-blog mb-120">
    <img class="blog-vector img-fluid" src="{% static 'images/bg/blog-vector.png' %}" alt="blog-vector">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-between align-items-center flex-wrap mb-40 wow animate fadeInUp"
                data-wow-delay="300ms" data-wow-duration="1500ms">
                <div class="section-title-4">
                    <span>Blog Post</span>
                    <h2>Latest & New Blog</h2>
                </div>
                <div class="viwe-all-btn2 d-flex align-items-center">
                    <a href="blog.html">View All <span><i class="bi bi-arrow-right"></i></span></a>
                </div>
            </div>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow animate fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                <div class="blog-wrrap">
                    <div class="blog-img d-flex justify-content-center">
                        <img src="{% static 'images/blog/blog-4.png' %}" alt="">
                        <div class="batch">
                            <a href="#">By Admin</a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="publisher-date d-flex justify-content-between ">
                            <div class="publish-date">
                                <span><img src="{% static 'images/icons/calendar2.svg' %}" alt="">25 May, 2022 </span>
                            </div>
                            <div class="comments">
                                <span><img src="{% static 'images/icons/bubble-chat.svg' %}" alt="">Comments (02)</span>
                            </div>
                        </div>
                        <h4><a href="blog-details.html">In A Augue Sit Amet Erat Suspel
                                Eleifend Suscipit Issen.</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow animate fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
                <div class="blog-wrrap">
                    <div class="blog-img d-flex justify-content-center">
                        <img src="{% static 'images/blog/blog-5.png' %}" alt="">
                        <div class="batch">
                            <a href="#">By Admin</a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="publisher-date d-flex justify-content-between ">
                            <div class="publish-date">
                                <span><img src="{% static 'images/icons/calendar2.svg' %}" alt="">25 May, 2022 </span>
                            </div>
                            <div class="comments">
                                <span><img src="{% static 'images/icons/bubble-chat.svg' %}" alt="">Comments (02)</span>
                            </div>
                        </div>
                        <h4><a href="blog-details.html">Mauris Egestas Lorem A Dictum Finibus Quisque Efficitur.</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow animate fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                <div class="blog-wrrap">
                    <div class="blog-img d-flex justify-content-center">
                        <img src="{% static 'images/blog/blog-6.png' %}" alt="">
                        <div class="batch">
                            <a href="#">By Admin</a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="publisher-date d-flex justify-content-between ">
                            <div class="publish-date">
                                <span><img src="{% static 'images/icons/calendar2.svg' %}" alt="">25 May, 2022 </span>
                            </div>
                            <div class="comments">
                                <span><img src="{% static 'images/icons/bubble-chat.svg' %}" alt="">Comments (02)</span>
                            </div>
                        </div>
                        <h4><a href="blog-details.html">Ullamcorper Vivamus Mattiseno Nibh Pellentesque Porttitor.</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

{% endblock container%}