{% extends 'core/base.html'%}
{% load static %}

{% block container %}
        <!-- ========== breadcump Start============= -->
        <div class="inner-page-banner">
            <div class="inner-banner-top">
                <img class="inner-banner-vec-2 img-fluid " src="{% static 'images/bg/inner-banner-vec-1.png' %}" alt="">
                <img class="inner-banner-vec-1 img-fluid" src="{% static 'images/bg/inner-banner-vec-2.png' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8">
                            <div class="inner-banner-title">
                                <h2>I Provided Alawyes <br>
                                <span>Creative Work.</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="breadcrumb-area">
                   <div class="container">
                       <div class="row">
                           <div class="col-12 d-flex justify-content-sm-end justify-content-center">
                                <div class="inner-breadcrumb">
                                    <h2>Services</h2>
                                    <nav>
                                        <ol class="breadcrumb">
                                          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                          <li class="breadcrumb-item active" aria-current="page">Services</li>
                                        </ol>
                                      </nav>
                                </div>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
        <!-- ========== breadcump end============= -->
        <!-- ==========  Services Start============= -->
        <div class="home-one-services pt-120 mb-100">
            <div class="container">
                <div class="row g-4">
                    {% for service in services %}
                    <div class="col-md-6 col-lg-4 wow animate fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <div class="services-wrrap">
                            <div class="services-top d-flex justify-content-between align-items-center">
                                <div class="icon">
                                    <img src="{% static 'images/icons/web-design.svg' %}" alt="web-design">
                                </div>                        
                                <h2>{{ forloop.counter|stringformat:"02d" }}</h2>
                            </div>
                            <div class="content">
                                <h3>{{ service.services_name }}</h3>
                            </div>
                            <div class="read-more-btn d-flex justify-content-end">
                                <a href="{% url 'services_detail_page' id=service.pk %}">Read More <span><img src="{% static 'images/icons/arrow-right.svg' %}" alt=""></span></a>
                            </div>
                        </div>
                    </div>  
                    {% endfor %}                
                </div>
            </div>
        </div>
        <!-- ==========  Services End============= -->
        <!-- ==========  Services process Start============= -->
        <div class="service-process mb-120">
            <div class="container-fluid">
                <div class="row align-items-xl-center align-items-start">
                    <div class="col-lg-6 d-flex justify-content-lg-end justify-content-center">
                        <div class="service-process-content">
                            <div class="service-process-item wow animate fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <h3><img src="{% static 'images/icons/service-process-arrow.svg' %}" alt=""> Creative Process</h3>
                                <p>Integer quis libero semper, interdum odio non, consequat seman
                                    pretium, quam ut lacinia ultricies, est urna cursus purus, ut tristin
                                    mauris ut dui. Morbi malesuada dapibus tortor.</p>
                            </div>
                            <div class="service-process-item wow animate fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
                                <h3><img src="{% static 'images/icons/service-process-arrow.svg' %}" alt=""> Product Research</h3>
                                <p>Integer quis libero semper, interdum odio non, consequat seman
                                    pretium, quam ut lacinia ultricies, est urna cursus purus, ut tristin
                                    mauris ut dui. Morbi malesuada dapibus tortor.</p>
                            </div>
                            <div class="service-process-item mb-0 wow animate fadeInUp" data-wow-delay="700ms" data-wow-duration="1500ms">
                                <h3><img src="{% static 'images/icons/service-process-arrow.svg' %}" alt=""> design & develope</h3>
                                <p>Integer quis libero semper, interdum odio non, consequat seman
                                    pretium, quam ut lacinia ultricies, est urna cursus purus, ut tristin
                                    mauris ut dui. Morbi malesuada dapibus tortor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 p-0 wow animate fadeInRight" data-wow-delay="400ms" data-wow-duration="1500ms">
                        <div class="service-process-img">
                            <img src="{% static 'images/bg/service-process-img.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ==========  Services process End============= -->
        <!-- ==========  Services features Start============= -->
        <!-- <div class="service-feature mb-120">
            <div class="container-fluid">
                <div class="row align-items-start">
                    <div class="col-xxl-4 col-xl-6 p-0 d-flex justify-content-center wow animate fadeInLeft" data-wow-delay="400ms" data-wow-duration="1500ms">
                        <div class="service-feature-img">
                            <img src="{% static 'images/bg/service-feature-img.png' %}" alt="service-feature-img">
                        </div>
                    </div>
                    <div class="col-xxl-8 col-xl-6">
                        <div class="service-feature-content">
                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item about-design-item">
                                    <h2 class="accordion-header" id="flush-headingOne6">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                            Web Development
                                        </button>
                                    </h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body about-design-body">
                                            <h3>Sed pretium purus ultricies nunc vehicula tempor.</h3>
                                            <p>Aliquam erat volutpat. Nulla gravida vehicula mattis. Pellentesque vel lectus eget elit pulvinar
                                                condimentum in ut felis. Donec ut mi et nisl vestibulum rhoncus. Nam et ultrices ipsum. Integer in
                                                massa eget turpis consequat molestie. Vestibulum feugiat semper leo eget sagittis. Duis sed odio
                                                vulputate lorem posuere tincidunt.</p>
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <ul>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Aliquam erat
                                                            volutpat Nulla gravida vehicula mai.</li>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Curabitur quis
                                                            iaculis sapien Fusce tellus enim ruti.</li>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Tristique odio.
                                                            Duis condimentum bibendum arcui.</li>
                                                        <li class="mnnb"><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Nam commodo
                                                            aliquet ligula sit amet varius Pelle.</li>
                                                    </ul>
                                
                                                </div>
                                                <div class="col-xl-6">
                                                    <ul>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Nunc lacus tortor
                                                            scelerisque porta lorem et vehil.</li>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Eget auctor ut,
                                                            sagittis eu sem. Cras ac porta lacu.</li>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Nunc ornare orci
                                                            et justo finibus scelerisque sedal.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item about-design-item wow animate fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                    <h2 class="accordion-header" id="flush-headingOne2">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseOne">
                                            Software Development
                                        </button>
                                    </h2>
                                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body about-design-body">
                                            <h3>Sed pretium purus ultricies nunc vehicula tempor.</h3>
                                            <p>Aliquam erat volutpat. Nulla gravida vehicula mattis. Pellentesque vel lectus eget elit pulvinar
                                                condimentum in ut felis. Donec ut mi et nisl vestibulum rhoncus. Nam et ultrices ipsum. Integer in
                                                massa eget turpis consequat molestie. Vestibulum feugiat semper leo eget sagittis. Duis sed odio
                                                vulputate lorem posuere tincidunt.</p>
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <ul>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Aliquam erat
                                                            volutpat Nulla gravida vehicula mai.</li>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Curabitur quis
                                                            iaculis sapien Fusce tellus enim ruti.</li>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Tristique odio.
                                                            Duis condimentum bibendum arcui.</li>
                                                        <li class="mnnb"><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Nam commodo
                                                            aliquet ligula sit amet varius Pelle.</li>
                                                    </ul>
                                
                                                </div>
                                                <div class="col-xl-6">
                                                    <ul>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Nunc lacus tortor
                                                            scelerisque porta lorem et vehil.</li>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Eget auctor ut,
                                                            sagittis eu sem. Cras ac porta lacu.</li>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Nunc ornare orci
                                                            et justo finibus scelerisque sedal.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item about-design-item wow animate fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
                                    <h2 class="accordion-header" id="flush-headingOne">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseOne">
                                            Graphic Design
                                        </button>
                                    </h2>
                                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body about-design-body">
                                            <h3>Sed pretium purus ultricies nunc vehicula tempor.</h3>
                                            <p>Aliquam erat volutpat. Nulla gravida vehicula mattis. Pellentesque vel lectus eget elit pulvinar
                                                condimentum in ut felis. Donec ut mi et nisl vestibulum rhoncus. Nam et ultrices ipsum. Integer in
                                                massa eget turpis consequat molestie. Vestibulum feugiat semper leo eget sagittis. Duis sed odio
                                                vulputate lorem posuere tincidunt.</p>
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <ul>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Aliquam erat
                                                            volutpat Nulla gravida vehicula mai.</li>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Curabitur quis
                                                            iaculis sapien Fusce tellus enim ruti.</li>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Tristique odio.
                                                            Duis condimentum bibendum arcui.</li>
                                                        <li class="mnnb"><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Nam commodo
                                                            aliquet ligula sit amet varius Pelle.</li>
                                                    </ul>
                                
                                                </div>
                                                <div class="col-xl-6">
                                                    <ul>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Nunc lacus tortor
                                                            scelerisque porta lorem et vehil.</li>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Eget auctor ut,
                                                            sagittis eu sem. Cras ac porta lacu.</li>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Nunc ornare orci
                                                            et justo finibus scelerisque sedal.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item about-design-item wow animate fadeInUp" data-wow-delay="700ms" data-wow-duration="1500ms">
                                    <h2 class="accordion-header" id="flush-headingOne4">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseOne">
                                            Motion Graphic
                                        </button>
                                    </h2>
                                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body about-design-body">
                                            <h3>Sed pretium purus ultricies nunc vehicula tempor.</h3>
                                            <p>Aliquam erat volutpat. Nulla gravida vehicula mattis. Pellentesque vel lectus eget elit pulvinar
                                                condimentum in ut felis. Donec ut mi et nisl vestibulum rhoncus. Nam et ultrices ipsum. Integer in
                                                massa eget turpis consequat molestie. Vestibulum feugiat semper leo eget sagittis. Duis sed odio
                                                vulputate lorem posuere tincidunt.</p>
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <ul>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Aliquam erat
                                                            volutpat Nulla gravida vehicula mai.</li>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Curabitur quis
                                                            iaculis sapien Fusce tellus enim ruti.</li>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Tristique odio.
                                                            Duis condimentum bibendum arcui.</li>
                                                        <li class="mnnb"><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Nam commodo
                                                            aliquet ligula sit amet varius Pelle.</li>
                                                    </ul>
                                
                                                </div>
                                                <div class="col-xl-6">
                                                    <ul>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Nunc lacus tortor
                                                            scelerisque porta lorem et vehil.</li>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Eget auctor ut,
                                                            sagittis eu sem. Cras ac porta lacu.</li>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Nunc ornare orci
                                                            et justo finibus scelerisque sedal.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item about-design-item wow animate fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
                                    <h2 class="accordion-header" id="flush-headingOne5">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseOne">
                                            Product Design
                                        </button>
                                    </h2>
                                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body about-design-body">
                                            <h3>Sed pretium purus ultricies nunc vehicula tempor.</h3>
                                            <p>Aliquam erat volutpat. Nulla gravida vehicula mattis. Pellentesque vel lectus eget elit pulvinar
                                                condimentum in ut felis. Donec ut mi et nisl vestibulum rhoncus. Nam et ultrices ipsum. Integer in
                                                massa eget turpis consequat molestie. Vestibulum feugiat semper leo eget sagittis. Duis sed odio
                                                vulputate lorem posuere tincidunt.</p>
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <ul>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Aliquam erat
                                                            volutpat Nulla gravida vehicula mai.</li>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Curabitur quis
                                                            iaculis sapien Fusce tellus enim ruti.</li>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Tristique odio.
                                                            Duis condimentum bibendum arcui.</li>
                                                        <li class="mnnb"><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Nam commodo
                                                            aliquet ligula sit amet varius Pelle.</li>
                                                    </ul>
                                
                                                </div>
                                                <div class="col-xl-6">
                                                    <ul>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Nunc lacus tortor
                                                            scelerisque porta lorem et vehil.</li>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Eget auctor ut,
                                                            sagittis eu sem. Cras ac porta lacu.</li>
                                                        <li><img src="{% static 'images/icons/service-check.svg' %}" alt="service-check"> Nunc ornare orci
                                                            et justo finibus scelerisque sedal.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div> -->
        <!-- ==========  Services features End============= -->
        <!-- ========== About Testimonial Start============= -->
        <div class="testimonial-area mb-120">
            <div class="container">
                <div class="row wow animate fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="col-12">
                        <div class="section-title1 text-center">
                            <span>Testimonial</span>
                            <h2>Client Say About Me</h2>
                        </div>
                    </div>
                </div>
                <div class="row position-relative wow animate fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="swiper testimonial-slider-1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonial-wrrap d-lg-flex align-items-center">
                                    <div class="author-images1">
                                        <img src="{% static 'images/bg/testimonial-1.png' %}" alt="">
                                    </div>
                                    <div class="testimonial-content">
                                        <p>Curabitur magna nisi, egestas quis est in, finibus pulvinar ipsum. Nunc sitaa amet do odio interdum, maximus dolor quis, ullamcorper lectus. Mauris vitaelai faucibus andi
                                            libero. Curabitur eu convallis purus. Nunc accumsan diam in arcubl pellentesque foxt
                                            odio interdum, maximus dolor quis, ullamcorper lectus. Mauris vitaelai faucibus andi
                                            sagittis.</p>
                                        <div class="author-review d-flex align-items-center justify-content-between">
                                            <div class="author">
                                                <h3>Savannah Nguyen</h3>
                                                <p>Executive CEO</p>
                                            </div>
                                            <div class="review">
                                                <ul class="d-flex">
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="author-images d-lg-block d-none">
                                        <img src="{% static 'images/bg/testimonial-1.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-wrrap d-lg-flex align-items-center">
                                    <div class="author-images1">
                                        <img src="{% static 'images/bg/testimonial-2.png' %}" alt="">
                                    </div>
                                    <div class="testimonial-content">
                                        <p>Curabitur magna nisi, egestas quis est in, finibus pulvinar ipsum. Nunc sitaa amet do odio interdum, maximus dolor quis, ullamcorper lectus. Mauris vitaelai faucibus andi
                                            libero. Curabitur eu convallis purus. Nunc accumsan diam in arcubl pellentesque foxt
                                            odio interdum, maximus dolor quis, ullamcorper lectus. Mauris vitaelai faucibus andi
                                            sagittis.</p>
                                        <div class="author-review d-flex align-items-center justify-content-between">
                                            <div class="author">
                                                <h3>
                                                    Ryan Burl</h3>
                                                <p>Executive CEO</p>
                                            </div>
                                            <div class="review">
                                                <ul class="d-flex">
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                    <li><i class="bi bi-star-fill"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="author-images d-lg-block d-none">
                                        <img src="{% static 'images/bg/testimonial-2.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="slider-navigations">
                        <div class="swiper-button-prev-c"><i class="bi bi-arrow-left"></i></div>
                        <div class="swiper-button-next-c"><i class="bi bi-arrow-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ========== About Testimonial End============= -->
        <!-- ==========Pricing Plan Start============= -->
        <!-- <div class="pricing-plan-area mb-120">
            <div class="container">
                <div class="row wow animate fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="col-lg-12">
                        <div class="section-title1 text-center mb-50">
                            <span>Pricing Plan</span>
                            <h2>Choose Your Plan.</h2>
                        </div>
                    </div>
                </div>
                <div class="row g-4 justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-9 wow animate fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="pricing-wrrap">
                            <h3>Info</h3>
                            <div class="project-price">
                                <h3>$350<span>/Per Project</span></h3>
                            </div>
                            <ul>
                                <li><img src="{% static 'images/bg/check-black.png' %}" alt=""> 3 Unique Homepage</li>
                                <li><img src="{% static 'images/bg/check-black.png' %}" alt=""> 15 Minimal & Creative Clean 
                                    Inner Page</li>
                                <li><img src="{% static 'images/bg/check-black.png' %}" alt=""> 7 days complete</li>
                                <li><img src="{% static 'images/bg/check-black.png' %}" alt=""> 7 days complete</li>
                                <li><img src="{% static 'images/bg/check-black.png' %}" alt=""> Satisfaction Guarantee</li>
                            </ul>
                            <div class="chose-btn">
                                <a href="contact.html">Choose Now</a>
                            </div>
                            <p>*Limited offer, save 10% for This plan</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-9 wow animate fadeInLeft" data-wow-delay="500ms" data-wow-duration="1500ms">
                        <div class="pricing-wrrap two">
                            <div class="commitions">
                                <span>Save 50%</span>
                            </div>
                            <h3>Pro</h3>
                            <div class="project-price">
                                <h3>$550<span>/Per Project</span></h3>
                            </div>
                            <ul>
                                <li><img src="{% static 'images/bg/check-whight.png' %}" alt=""> 3 Unique Homepage</li>
                                <li><img src="{% static 'images/bg/check-whight.png' %}" alt=""> 15 Minimal & Creative Clean 
                                    Inner Page</li>
                                <li><img src="{% static 'images/bg/check-whight.png' %}" alt=""> 7 days complete</li>
                                <li><img src="{% static 'images/bg/check-whight.png' %}" alt=""> 7 days complete</li>
                                <li><img src="{% static 'images/bg/check-whight.png' %}" alt=""> Satisfaction Guarantee</li>
                            </ul>
                            <div class="chose-btn">
                                <a href="contact.html">Choose Now</a>
                            </div>
                            <p>*Limited offer, save 10% for This plan</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-9 wow animate fadeInLeft" data-wow-delay="700ms" data-wow-duration="1500ms">
                        <div class="pricing-wrrap">
                            <h3>Basic</h3>
                            <div class="project-price">
                                <h3>$300<span>/Per Project</span></h3>
                            </div>
                            <ul>
                                <li><img src="{% static 'images/bg/check-black.png' %}" alt=""> 3 Unique Homepage</li>
                                <li><img src="{% static 'images/bg/check-black.png' %}" alt=""> 15 Minimal & Creative Clean 
                                    Inner Page</li>
                                <li><img src="{% static 'images/bg/check-black.png' %}" alt=""> 7 days complete</li>
                                <li><img src="{% static 'images/bg/check-black.png' %}" alt=""> 7 days complete</li>
                                <li><img src="{% static 'images/bg/check-black.png' %}" alt=""> Satisfaction Guarantee</li>
                            </ul>
                            <div class="chose-btn">
                                <a href="contact.html">Choose Now</a>
                            </div>
                            <p>*Limited offer, save 10% for This plan</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
{% endblock container%}